[Desktop Entry]
Name=Record Apps
Comment=Record audio from individual applications
Exec=run.sh
Icon=io.github.sigmasd.recordapps
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Utility;
